pkgbase = xlibre-input-vmmouse
	pkgdesc = XLibre VMWare Mouse input driver
	pkgver = 13.2.0.3
	pkgrel = 1
	url = https://github.com/X11Libre/xf86-input-vmmouse
	arch = aarch64
	arch = x86_64
	groups = xlibre-drivers
	license = custom
	makedepends = xlibre-xserver-devel
	makedepends = xorgproto
	makedepends = X-ABI-XINPUT_VERSION=26.0
	depends = glibc
	depends = systemd-libs
	provides = xf86-input-vmmouse
	conflicts = xf86-input-vmmouse
	conflicts = xorg-server<21.1.1
	conflicts = X-ABI-XINPUT_VERSION<26
	conflicts = X-ABI-XINPUT_VERSION>=27
	source = xf86-input-vmmouse-xlibre-xf86-input-vmmouse-13.2.0.3.tar.gz::https://github.com/X11Libre/xf86-input-vmmouse/archive/refs/tags/xlibre-xf86-input-vmmouse-13.2.0.3.tar.gz
	b2sums = bc34c05fc910fe58515a4bf9f113a033a198e45b69d0b1af27b4f0b909e4ffd750e211148790872afe30595391f379fa15cec243b18a0bc701cb09a8c3df2f8c

pkgname = xlibre-input-vmmouse
