pkgbase = xlibre-input-vmmouse
	pkgdesc = XLibre VMWare Mouse input driver
	pkgver = 13.2.0.2
	pkgrel = 1
	url = https://github.com/X11Libre/xf86-input-vmmouse
	arch = aarch64
	arch = x86_64
	groups = xlibre-drivers
	license = custom
	makedepends = xlibre-xserver-devel
	makedepends = xorgproto
	makedepends = X-ABI-XINPUT_VERSION=26.0
	depends = glibc
	depends = systemd-libs
	provides = xf86-input-vmmouse
	conflicts = xf86-input-vmmouse
	conflicts = xorg-server<21.1.1
	conflicts = X-ABI-XINPUT_VERSION<26
	conflicts = X-ABI-XINPUT_VERSION>=27
	source = xf86-input-vmmouse-xlibre-xf86-input-vmmouse-13.2.0.2.tar.gz::https://github.com/X11Libre/xf86-input-vmmouse/archive/refs/tags/xlibre-xf86-input-vmmouse-13.2.0.2.tar.gz
	b2sums = 0ed37d5583f566eb72627a369b31336a5d55ffe10e33ef547541223190eb95e29c95dc006c20c3a31d532f98f10056e5958fd82dec50a84d3dd91a4a82283d99

pkgname = xlibre-input-vmmouse
